.home {
    &-hero {
        position: relative;
        height: 100dvh;
        contain: paint;

        .container {
            height: 100%;
        }

        &-logo {
            grid-column: 1/4;
            @include size(24.8rem, auto);
            margin-left: -5.5rem;
            margin-top: 3.2rem;
        }

        &-mascot {
            grid-column: 1/7;
            grid-row: 2/3;
            
            margin-inline: 1.187rem 4.853rem;
            margin-bottom: 7rem;
            align-self: end;

            @media (max-aspect-ratio: 3/2) {
                margin-bottom: 12rem;
            }
        }

        &-content {
            grid-column: 6/-1;
            grid-row: 2/3;
            height: fit-content;
            display: flex;
            align-items: center;

            align-self: end;
            margin-bottom: 11.61rem;
            padding-left: 4.315rem;

            @media (max-aspect-ratio: 3/2) {
                margin-bottom: 18rem;
            }

            
            &-wrapper {
                position: relative;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                * {
                    z-index: 1;
                }
            }
            &-logo {
                position: absolute;
                @include size(27.6rem);
                z-index: 0;

                img {
                    opacity: .16;                    
                }
            }
        }

        &-scope {
            height: fit-content;
            padding: 2.065rem 2.5rem 1.2rem 3.685rem;
            margin-right: .8rem;

            background-image: url(../../assets/hero-label.svg);
            background-size: cover;
            background-repeat: no-repeat;
            
            .txt {
                text-align: center;
                width: 6.6rem;
            }
        }

        &-label {
            &.top {
                margin-bottom: -3rem;
            }
            &.bottom {
                margin-top: -3rem;
            }
        }


        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, calc(50dvh + 15rem));
            z-index: -3;
            filter: blur(0.15rem);


            &-mask {
                position: absolute;
                bottom: 0;
                left: 0;
                @include size(100%, 50dvh);
                z-index: -1;
            }

            &-sun {
                position: absolute;
                top: 25dvh;
                right: -14dvh;

                width: 53dvh;
                z-index: -2;
            }
        }
    }

    &-preamble {
        position: relative;

        padding-top: 9rem;

        background: linear-gradient(170deg, #FFEEF2 20.37%, #FDFDFD 48.99%, #FFF 60.61%, #D5D5F9 87.09%);

        contain: paint;

        &-mask {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            z-index: 0;
        }
        .container {
            position: relative;
            z-index: 2;
        }

        &-content {
            grid-column: 1/8;
            display: flex;
            flex-direction: column;
            align-items: end;

            text-align: end;
            padding-right: 6.8rem;

            &.client {
                margin-bottom: 16rem;
            }
        }

        &-title {
            margin-bottom: 1.4rem;
        }
        &-des  {
            max-width: 58.5rem;
        }

        &-mascot {
            grid-column: 8/-1;
            grid-row: 1/3;

            will-change: transform;

            &-wrapper {
                position: relative;
                margin-inline: 1.23rem .4rem;
            }

            &-bg {
            }

            &-flower {
                position: absolute;

                &.flower1 {
                    top: 8.746rem;
                    left: 2.048rem;
                    @include size(4rem)
                }
                &.flower2 {
                    top: 2.675rem;
                    left: 5.13rem;
                    @include size(6.5rem)
                }
                &.flower3 {
                    bottom: -.2rem;
                    right: -2.53rem;
                    @include size(15.3rem)
                }
            }

            &-main {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                @include size(100%);
                display: flex;
                justify-content: center;
                align-items: end;
                mask-image: url(../../assets/preamble-mask.png);
                mask-size: contain;
                mask-repeat: no-repeat;

                img {
                    @include size(43.6rem, 47rem);
                }
            }
        }
        &-mountain {
            position: relative;
            grid-column: 9/-1;

            margin-top: 15.6rem;
            margin-right: calc(var(--container-padding) * -1);

            &-clone {
                position: absolute;
                left: -9rem;
                bottom: -5rem;
                width: 20rem;
            }
        }
    }

    &-transcloud {
        contain: paint;
        
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none;
        user-select: none;

        margin-block: -63rem -64.5rem;

        &-wrapper {
            display: flex;
        }

        &-cloud {
            margin-top: -26.6rem;
            margin-left: -40rem;
            width: 236rem;
        }
    }

    &-mascot {
        height: calc(100dvh + 17rem);


        background-color: $cl-magenta;


        &-wrapper {
            height: 200dvh;
        }

        &-sticky {
            position: sticky;
            top: 0;
            height: 100dvh;
            display: grid;
            padding-inline: 2rem;
        }

        &-event, &-list {
            grid-column: 1/-1;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2.5rem;
        }

        &-event {
            &-inner {
                width: 100%;
                height: 100%;
            }
        }

        &-list {

        }
    
        &-item {
            filter: grayscale(.2) contrast(0.9) saturate(0.1) brightness(1.1);
            will-change: filter;
            transition: filter .2s ease;

            &.active {
                filter: unset;
            }
        }
    }
    &-mask-info {
        position: relative;
        z-index: -1;
        height: 0px;
        transform: translateY(-1px);

        &-inner {
            width: 100%;
            height: 40dvh;
            background-color: $cl-magenta;
        }
    }

    &-info {
        position: relative;
        z-index: 2;

        margin-top: -19rem;
        contain: paint;

        &-bg {
            // position: absolute;
            width: 100%;
            
            margin-block: 9rem -2px;

            filter: drop-shadow(0rem -1.1rem 4rem rgba(0, 0, 0, .5) );
        }
        .container {
            position: relative;
            z-index: 2;
            background-color: $cl-semi-white;
            background-image: url(../../assets/info-bg.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-mascot {
            grid-column: 1/6;
            display: grid;
            height: fit-content;
            margin-left: calc(var(--container-padding) * -1);

            * {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            &-flower {
                width: 50.01rem;
                margin-left: -0.2rem;
                margin-top: -12.8rem;
                height: fit-content;
            }
            &-bg {
                width: 60.3rem;
                margin-top: -13rem;
            }
            &-main {
                width: 54rem;
                align-self: end;
                justify-self: end;
                margin-right: -5.8rem;
                margin-bottom: -8.5rem;
            }
        }

        &-content {
            grid-column: 6/-1;

            padding-left: 6.7rem;
            margin-top: 8.4rem;
            margin-bottom: 9.65rem;

            &-title {
                margin-bottom: 3.4rem;
            }
            &-desc {}
        }
    }
    &-idea {
        // contain: paint;
        position: relative;
        padding-top: 3.3rem;

        z-index: 2;
        margin-top: -1px;

        background-color: $cl-semi-white;
        contain: paint;


        &-content {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-bottom: 4.7rem;
        }

        &-label {
            position: relative;
            width: fit-content;
            margin-left: 3.94rem;
            
            padding: 2.7rem 1.885rem 2.764rem 2.552rem;
            background-image: url(../../assets/idea-label-box.svg);
            background-size: contain;
            background-repeat: no-repeat;

            &-flower {
                position: absolute;

                &.flower1 {
                    width: 3.98rem;
                    bottom: -2.436rem;
                    left: -0.339rem;
                }
                &.flower2 {
                    width: 2.3rem;
                    bottom: 1.303rem;
                    left: -1.33rem;
                }
            }
        }

        &-title {
            margin-bottom: 4.7rem;

            &-wrapper {
                margin-top: 1.3rem;
                margin-left: 7.5rem;
            }
        }

        &-desc {
            max-width: 78.6rem;
            font-size: 2.2rem;
        }

        &-main {
            position: relative;
            z-index: 2;
            grid-column: 1/-1;
            grid-row: 2/3;
            margin-inline: calc(var(--container-padding) * -1);
            display: grid;
            pointer-events: none;

            &-inner {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
        
        &-display {
            grid-column: 1/-1;
            grid-row: 3/4;
            display: flex;
            justify-content: end;

            margin-block: -8rem 5rem;
            margin-right: -1rem;


            &-txt {
                display: grid;
                .txt {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    &.front {
                        position: static;
                        z-index: 2;
                        background: linear-gradient(180deg, #338DFF 30.5%, #FE2BC6 80.45%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &.back {
                        position: static;
                        z-index: 1;
                        color: $cl-white;
                        -webkit-text-stroke: 1.083rem $cl-white;
                        paint-order: stroke fill;
                    }
                }
            }
        }

        &-marquee {
            display: flex;
            justify-content: center;
            transform: rotate(-28.25deg);
            opacity: .06;

            transition: all .7s ease;
            will-change: transform;

            &.active {
                opacity: 1;
            }

            &.blur {
                opacity: .5;
                filter: blur(1rem);
            }

            &:nth-child(2) {
                .home-idea-marquee-inner {
                    flex-direction: row-reverse;
                }
            }

            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/4;
                
                position: relative;
                margin-inline: calc(var(--container-padding) * -1);
                display: flex;
                z-index: 1;
            }

            &-sticky {
                position: sticky;
                height: 100dvh;
                top: calc(0rem);

                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 5rem;

                mask-image: linear-gradient(to bottom, transparent 0%, white 10%, white 90%, transparent 100%);
            }

            &-inner {
                display: flex;
                flex-shrink: 0;
                will-change: transform;
            }

            &-item {
                flex-shrink: 0;
                height: 20rem;

                margin-right: 4.2rem;
            }
        }
    }

    &-option {
        position: relative;
        contain: paint;
        background-image: radial-gradient(50% 50% at 50% 50%, #FF2C85 66.5%, #C41886 100%);


        &-sticky {
            position: sticky;
            top: 0;
            left: 0;


            @include size(100%, 100dvh);
        }

        &-bg {
            --bg-move: 0rem;
            position: absolute;
            z-index: 0;

            @include size(100%);

            background-image: url(../../assets/option-bg.svg);
            background-size: cover;
            background-position: var(--bg-move) var(--bg-move);
            will-change: background-position;
        }


        &-main {
            background-image: linear-gradient(180deg, #FFFCED, #FFF);
            flex-grow: 1; 

            display: flex;
            flex-direction: column;

            &-wrapper {
                position: relative;
                z-index: 1;
                padding-inline: 9rem;
                padding-block: 9rem 7.1rem;

                @include size(100%);

                filter: drop-shadow(0px 0.8334rem 0.8334rem rgba(0, 0, 0, 0.25));
            }

            &-papper {
                flex-shrink: 0;

                &.top {
                    margin-bottom: -2px;
                }

                &.bottom {
                    margin-top: -1px;
                }
            }

            &-title {
                margin-top: 5.5rem;
                margin-left: 4.3rem;
            }

            &-inner { 
                margin-inline: 1.7rem 3.502rem;
                margin-block: -2rem -1rem;
                z-index: 2;
                mix-blend-mode: darken;
            }
        }
    }

    &-pose {
        position: relative;
        padding-block: 15.3rem 4.3rem;

        contain: paint;

        &-title {
            grid-column: 8/-1;

            margin-left: -2.4rem;
            margin-bottom: 2rem;
        }

        &-main {
            grid-column: 1/-1;
            margin-right: -.7rem;
        }

        &-tail {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding-bottom: 4.3rem;
        }
    }

    &-anatomy {
        position: relative;
        padding-block: 8.5rem 2.753rem;
        background: linear-gradient(184deg, #FFF 48.38%, #FAD2EC 96.72%);

        contain: paint;

        &-title {
            grid-column:  2/-1;
            position: relative;
            margin-left: -3.5rem;

            .h1 {
                position: relative;
                z-index: 2;
            }

            &-fade {
                z-index: 1;
                position: absolute;
                top: -6rem;
                left: -4.3rem;
                opacity: .4;
            }
        }

        &-main {
            position: relative;
            grid-column: 2/12;

            margin-top: 3rem;
        }
 
        &-mascot {
            @include size(39.2rem, 55.217rem);
            margin-left: 33.5rem;
        }

        &-item {
            position: absolute;
            width: 38.497rem;
            // top: 0;

            &.item {
                &-1 {
                    width: 38.497rem;
                    bottom: -0.53rem;
                    left: -0.7rem;
                }
                &-2 {
                    width: 18.9rem;
                    bottom: 12.217rem;
                    left: 10rem;
                }
                &-3 {
                    width: 24.4rem;
                    bottom: 25.317rem;
                    right: 3.4rem;
                }
                &-4 {
                    width: 22.2rem;
                    bottom: 9.217rem;
                    right: 5rem;
                }
            }
        }

        &-pattern {
            position: absolute;
            top: -11rem;
            left: 19rem;
            z-index: -1;
            opacity: .05;
            width: 68.577rem;
        }

        &-flower {
            position: absolute;
            &.flower1 {
                width: 45.3rem;
                top: 0rem;
                right: -4.6rem;

                img {
                    transform: scaleX(-1);
                }
            }

            &.flower2 {
                width: 30.6rem;
                bottom: 0;
                left: 0;
            }
        }
    }

    &-sticker {
        position: relative;
        z-index: 2;
        margin-top: -1px;
        background: linear-gradient(171deg, #fad2ec 0%, #ecf9ff 64.5%, transparent 80%);

        padding-top: 17.2rem;
        margin-bottom: -32.2rem;


        contain: paint;

        &-title {
            grid-column: 1/-1;
            grid-row: 1/2;
            font-size: 10.669rem;

            padding-left: 7.1rem;
            margin-bottom: 6.3rem;
        }
        &-papper {
            position: relative;
            z-index: 2;

            grid-column: 1/9;
            grid-row: 2/3;
            padding-right: 6.176rem;
            filter: drop-shadow(0px 0.469rem 0.469rem rgba(0, 0, 0, 0.25));

            &-main {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                height: fit-content;
                padding-top: 2.3rem;
                padding-inline: 2.7rem 2.16rem;

                background-color: #FFFDF4;
                margin-top: -1px;

                &-item {
                    height: 24.5rem;

                    &.item  {
                        &-4, &-5 {
                            height: 23.8rem;
                            margin-top: -2.7rem;
                        }
                    }
                }
            }

            &-bottom {
                margin-top: -1px;
            }
        }

        &-circle {
            position: relative;
            z-index: 1;

            grid-column: 7/-1;
            grid-row: 2/3;

            margin-top: -8rem;
            margin-inline: -3.2rem calc(var(--container-padding) * -1);
        }

        &-mascot {
            position: relative;
            z-index: 3;

            grid-column: 7/-1;
            grid-row: 2/3;

            margin-top: -13.4rem;
            margin-inline: calc(var(--grid-gap) * -1) calc(var(--container-padding) * -1);
        }

        &-cloud {
            &.cloud-1 {
                position: absolute;
                top: 4rem;
                right: -7.279rem;

                width: 40.48rem;
                z-index: 10;
                filter: drop-shadow(0px -0.3204rem 3.1509rem rgba(255, 255, 255, 0.77));
            }

            &-wrapper {
                position: relative;
                z-index: 10;

                @include size(0px);

                &.middle {
                    grid-column: 1/-1;
                    grid-row: 3/4;
                }
                &.bottom {
                    grid-column: 1/-1;
                    grid-row: 5/6;

                    justify-self: end;
                }
            }
            &.cloud-2 {
                width: 37.779rem;
                margin-top: -15rem;
                margin-left: calc(-1 * var(--container-padding) - 9.2rem);
                filter: drop-shadow(0px -0.2991rem 2.9407rem rgba(255, 255, 255, 0.77));
            }
            &.cloud-3 {
                width: 60.386rem;
                margin-top: -16rem;
                margin-left: -35.4rem;
                filter: drop-shadow(0px 0px 9.5302rem #FFF) drop-shadow(0px -.478rem 4.7004rem rgba(255, 229, 238, 0.63));
            }
        }

        &-showcase {
            grid-column: 1/-1;
            grid-row: 4/5;

            position: relative;
            
            margin-top: -5.6rem;
            margin-inline: -5.4rem -5.6rem;

            &-main {
                width: 64.9rem;

                margin-left: 42.7rem;
                margin-top: 21.2rem;
            }


            &-item {
                position: absolute;
                filter: grayscale(.9) saturate(0.3) contrast(1.2);

                &.item {
                    &-1 {
                        width: 36rem;
                        left: 11rem;
                        bottom: 10rem;
                    }
                    &-2 {
                        width: 28.373rem;
                        top: 15.7rem;
                        left: 0;
                    }
                    &-3 {
                        width: 30.5rem;
                        top: 2.2rem;
                        left: 25.9rem;
                    }
                    &-4 {
                        width: 28.8rem;
                        top: 0;
                        left: 60.2rem;
                    }
                    &-5 {
                        width: 42.5rem;
                        top: 6.9rem;
                        right: 2.8rem;
                    }
                    &-6 {
                        width: 34.7rem;
                        right: 0;
                        bottom: 12.6rem;
                    }
                }
            }
        }

        &-mask {
            grid-column: 1/-1;
            grid-row: 5/6;
            margin-block: -31.4rem 20rem;
            margin-inline: calc(var(--container-padding) * -1);
        }
    }

    &-version3d {
        position: relative;
        z-index: 1;
        background-image: url(../../assets/vertion-bg.jpg);
        background-size: contain;

        contain: paint;

        &-title {
            width: fit-content;

            margin-left: 13.5rem;
            transform: skewX(-14deg) skewY(-17deg);

            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/2;

                margin-block: 22rem 47rem;
            }

            &-display {
                font-size: 26rem;
                line-height: 1em;

                filter: drop-shadow(2.5rem 2rem $cl-pink);

                margin-bottom: 8.2rem;
            }

            &-txt {
                font-size: 9rem;
                line-height: 1em;
                letter-spacing: 0em;
            }
        }

        &-mascot {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-inline: calc(var(--container-padding) * -1);
        }
    }

    &-sticker3d {
        position: relative;
        z-index: 2;
        background: linear-gradient(183deg, #FFFAE3 2.06%, #FFE5EE 92.14%);
        padding-bottom: 20rem;

        // contain: paint;

        &-mask {
            width: 100%;
            position: absolute;
            bottom: calc(100% - 1px);
            background-image: url(../../assets/sticker3d-mask-top.svg);
            background-size: cover;
            background-repeat: repeat;
            background-position: 50% 0%;

            img {
                opacity: 0;
            }
        }

        &-circle {
            grid-column: 2/12;
            grid-row: 1/2;

            margin-top: 2.5rem;
            padding-inline: 1.6rem;
        }

        &-grid {
            grid-column: 1/-1;
            grid-row: 1/2;

            display: grid;
            height: fit-content;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: .5rem;

            margin-top: 7rem;
            padding-inline: 5.2rem;
        }

        &-display {
            grid-column: 1/-1;
            grid-row: 2/3;
            display: flex;
            justify-content: end;

            margin-top: -2.5rem;
            // margin-right: -1rem;

            &-txt {
                display: grid;

                .txt {
                    grid-column: 1/2;
                    grid-row: 1/2;

                    font-size: 19rem;
                    line-height: 1.3em;

                    &.front {
                        position: static;
                        z-index: 2;
                        background: linear-gradient(180deg, #338DFF 30.5%, #FE2BC6 80.45%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &.back {
                        position: static;
                        z-index: 1;
                        color: $cl-white;
                        -webkit-text-stroke: 1.083rem $cl-white;
                        paint-order: stroke fill;
                    }
                }
            }
        }
    }
    &-showcase {
        position: relative;
        z-index: 2;
        padding-bottom:8.3rem;

        contain: paint;
        margin-top: -12.3rem;

        &-mask {
            width: 100%;
            bottom: calc(100% - 1px);
            background-image: url(../../assets/showcase-mask-top.svg);
            background-size: cover;
            background-repeat: repeat;
            background-position: 50% 0%;
            margin-bottom: 5rem;

            img {
                opacity: 0;
            }
        }

        &-main {
            position: relative;
            z-index: 2;

            grid-column: 3/11;
            grid-row: 1/2;

            margin-inline: calc(var(--grid-gap) * -1);
            padding: var(--grid-gap);

            background-image: linear-gradient($cl-pink 0%, #FF9BE5 100%);
            border-radius: calc(4.3rem + var(--grid-gap));
        }

        &-video {
            border-radius: 4.3rem;
            overflow: hidden;
            filter: brightness(1.1) saturate(1.2) contrast(1.05);

            video {
                width: 100%;
            }
        }

        &-flower {
            position: relative;
            z-index: 1;

            grid-column: 1/-1;
            grid-row: 1/2;

            height: fit-content;

            &.flower1 {
                width: 27.1rem;
                margin-left: -2.8rem;
            }

            &.flower2 {
                width: 41.3rem;
                margin-right: -14.4rem;
                margin-bottom: 4.88rem;

                align-self: end;
                justify-self: end;

                img {
                    transform: scaleX(-1);
                }
            }

            &.flower {
                &-sm {
                    align-self: end;
                    justify-self: end;
                    z-index: 3;

                    &-1 {
                        width: 9.5rem;
                        margin-right: 16.6rem;
                        margin-bottom: -2.87rem;
                    }
                    &-2 {
                        width: 5.1rem;
                        margin-right: 27.73rem;
                        margin-bottom: -1.1rem;
                    }
                    &-3 {
                        width: 3.5rem;
                        margin-right: 34.84rem;
                        margin-bottom: -2.4rem;
                    }
                }
            }
        }

        &-cloud {
            position: relative;
            z-index: 1;

            grid-column: 1/-1;
            grid-row: 1/2;

            &.cloud-1 {
                align-self: end;
                width: 91.5rem;

                margin-bottom: -3rem;
                margin-left: -34rem;

                filter: drop-shadow(0px 0.7243rem 7.1223rem rgba(255, 255, 255, 0.77));
            }

            &.cloud-2 {
                width: 91.5rem;
                justify-self: end;

                margin-top: -2.6rem;
                margin-right: -20.9rem;

                filter: drop-shadow(0px 0.7243rem 7.1223rem rgba(255, 255, 255, 0.77));

                img {
                    transform: scaleX(-1);
                }
            }
        }
    }

    &-adap {
        contain: paint;

        &-title {
            
            &-wrapper {
                
                grid-column: 1/-1;

                background-color: $cl-magenta;

                color: $cl-white;
                margin-inline: calc(var(--container-padding) * -1);
                text-align: center;
                padding-block: 8rem;
            }
        }

        &-cup {
            &-wrapper {
                position: relative;
                grid-column: 1/-1;
                margin-inline: calc(var(--container-padding) * -1);
            }

            &-txt {
                position: absolute;
                bottom: 3.6rem;
                left: 3.365rem;

                padding: 4.8rem 5.784rem 2.2rem 11.7rem;
                background-image: url(../../assets/adap-cup-txt.png);
                background-size: cover;

                font-size: 4.636rem;
                line-height: 1.2em;
                letter-spacing: 0.01em;
                color: $cl-pink;
            }
        }

        &-bag {
            margin-left: 49.8rem;
            grid-column: 1/-1;
            grid-row: 1/2;

            &-wrapper {
                position: relative;
                display: grid;

                grid-column: 1/-1;
                margin-inline: calc(var(--container-padding) * -1);
            }

            &-txt {
                position: absolute;
                bottom: 2.022rem;
                right: 3.639rem;

                padding: 7.948rem 17.37rem 5.207rem 1.791rem;
                background-image: url(../../assets/adap-bag-txt.png);
                background-size: cover;

                font-size: 4.636rem;
                line-height: 1.2em;
                letter-spacing: 0.01em;
                color: $cl-pink;
            }
        }

        &-lanyard {
            grid-column: 1/-1;
            grid-row: 1/2;
            
            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/2;

                display: grid;
            }

            &.lanyard-1 {
                width: 65.327rem;
                margin-top: -3rem;
                margin-left: -0rem;
            }
            &.lanyard-2 {
                width: 51.77rem;
                margin-left: 15.23rem;
            }
        }
    }

    &-poster {
        position: relative;
        padding-top: calc(32.635rem + 21.394rem);

        margin-top: -21.394rem;
        contain: paint;


        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, transparent 0%, #FFEEF2 98%);

            @include size(100%, 20rem);

        }
        .container {
            position: relative;
        }

        &-flower {
            position: absolute;
            z-index: 3;


            &.flower-1 {
                width: 62rem;
                top: 0rem;
                left: -9.9rem;
            }

            &.flower-2 {
                width: 44.2rem;
                top: calc(-3.135rem + 21.394rem);
                right: -8.9rem;

                img {
                    transform: scaleX(-1);
                }
            }
        }
        &-mask {
            position: absolute;
            top: -1px;

            z-index: 2;
            width: 100%;


            background-image: url(../../assets/poster-mask.svg);
            background-size: cover;
            background-repeat: repeat;
            background-position: 50% 0%;

            img {
                opacity: 0;
            }
        }

        &-main {
            position: relative;
            display: flex;
            justify-content: center;
            margin-inline: calc(var(--container-padding) * -1);

            background: linear-gradient(180deg, #FFF 0%, $cl-pink 100%);
        }
        &-sm {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include size(38rem, 100%);

            overflow: hidden;


            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }

        &-center {
            width: 65.6rem;
            flex-shrink: 0;
        }
    }

    &-foot {
        position: relative;
        height: 120dvh;
        background: linear-gradient(175deg, #FFEEF2 20.37%, #FDFDFD 48.99%, #FFF 60.61%, #D5D5F9 87.09%);
        
        margin-top: -2px;
        contain: paint;

        .container {
            height: 100%;
        }
        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;


            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/2;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;
            }

            * {
                position: relative;
                z-index: 2;
            }
        }

        &-logo {
            position: absolute;
            z-index: 1;

            width: 48.2rem;
            margin-top: -7rem;
            opacity: .16;
        }

        &-mountain {
            grid-column: 1/-1;
            grid-row: 1/2;

            align-self: end;

            margin-left: calc(var(--container-padding) * -1 - 1.677rem);
            width: 50rem;
        }

        &-cloud {
            position: absolute;

            &.cloud-1 {
                width: 180rem;

                bottom: -49rem;
            }

            &.cloud-2 {
                bottom: 10.815rem;
                right: -5.7rem;

                width: 28.8rem;
                filter: drop-shadow(0px 0px 4.5447rem #FFF) blur(.25rem);
            }
        }
    }
}

