.home {
    &-hero {
        position: relative;
        height: 100svh;
        contain: paint;

        .container {
            height: 100%;
        }

        &-logo {
            grid-column: 1/4;
            @include size(24.8rem, auto);
            margin-left: -5.5rem;
            margin-top: 3.2rem;

            @include sm {
                grid-column: 1/-1;
                @include size(10.3389rem, auto);
                margin-left: -2.1rem;
                margin-top: 1.7rem;
            }
        }

        &-mascot {
            grid-column: 1/7;
            grid-row: 2/3;
            
            margin-inline: 1.187rem 4.853rem;
            margin-bottom: 7rem;
            align-self: end;

            @media (max-aspect-ratio: 3/2) {
                margin-bottom: 12rem;
            }


            @include sm {
                grid-column: 1/-1;
                grid-row: 2/3;
                width: 25.4803rem;
                margin-inline: auto;
                margin-bottom: 2rem;
            }
        }

        &-content {
            grid-column: 6/-1;
            grid-row: 2/3;
            height: fit-content;
            display: flex;
            align-items: center;

            align-self: end;
            margin-bottom: 11.61rem;
            padding-left: 4.315rem;

            @media (max-aspect-ratio: 3/2) {
                margin-bottom: 18rem;
            }

            @include sm {
                grid-column: 1/-1;
                grid-row: 3/4;
                padding-left: unset;
                margin-inline: auto;
                margin-bottom: 8rem;
            }

            
            &-wrapper {
                position: relative;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                * {
                    z-index: 1;
                }
            }
            &-logo {
                position: absolute;
                @include size(27.6rem);
                z-index: 0;

                img {
                    opacity: .16;                    
                }

                @include sm {
                    @include size(12.8rem)
                }
            }
        }

        &-scope {
            height: fit-content;
            padding: 2.065rem 2.5rem 1.2rem 3.685rem;
            margin-right: .8rem;

            background-image: url(../../assets/hero-label.svg);
            background-size: cover;
            background-repeat: no-repeat;

            @include sm {
                padding: 0.956rem 1.114rem 0.365rem 1.475rem;
            }
            
            .txt {
                text-align: center;
                width: 6.6rem;

                @include sm {
                    width: 3.1rem;
                    @include text(15);
                }
            }
        }

        &-title {
            @include sm {
                @include text(82)
            }
        }

        &-label {
            &.top {
                margin-bottom: -3rem;

                @include sm {
                    margin-bottom: -1.5rem;
                }
            }
            &.bottom {
                margin-top: -3rem;

                @include sm {
                    margin-top: -1.5rem;
                }
            }

            @include sm {
                @include text(13)
            }
        }


        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, calc(50svh + 15rem));
            z-index: -3;
            filter: blur(0.15rem);

            @include sm {
                height: calc(50svh + 8rem);
            }


            &-mask {
                position: absolute;
                bottom: 0;
                left: 0;
                @include size(100%, 50svh);
                z-index: -1;

                @include sm {

                }
                
                img {
                    @include sm {
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &-sun {
                position: absolute;
                top: 25svh;
                right: -14svh;

                width: 53svh;
                z-index: -2;

                @include sm {
                    width: 29svh;
                    top: -8svh;
                    right: -9svh;
                }
            }
        }
    }

    &-preamble {
        position: relative;

        padding-top: 9rem;

        background: linear-gradient(170deg, #FFEEF2 20.37%, #FDFDFD 48.99%, #FFF 60.61%, #D5D5F9 87.09%);

        contain: paint;

        @include sm {
            padding-top: 2rem;
        }

        &-mask {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            z-index: 0;

            img {
                &.lg {
                    @include sm {
                        display: none;
                    }
                }
                &.sm {
                    display: none;

                    @include sm {
                        display: block;
                    }
                }
            }
        }
        .container {
            position: relative;
            z-index: 2;
        }

        &-content {
            grid-column: 1/8;
            display: flex;
            flex-direction: column;
            align-items: end;

            text-align: end;
            padding-right: 6.8rem;

            @include sm {
                grid-column: 1/-1;
                padding-right: unset;
                align-items: center;
            }

            &.client {
                margin-bottom: 16rem;

                @include sm {
                    grid-row: 1/2;
                    text-align: center;
                    margin-bottom: 8rem;
                }
            }
            &.topic {
                @include sm {
                    grid-row: 3/4;

                    .home-preamble-des {
                        text-align: start;
                    }
                }
            }
        }

        &-title {
            margin-bottom: 1.4rem;
            @include sm {
                margin-bottom: .8rem;
            }
        }
        &-des  {
            max-width: 58.5rem;
        }

        &-mascot {
            grid-column: 8/-1;
            grid-row: 1/3;
            will-change: transform;

            @include sm {
                grid-column: 2/4;
                grid-row: 2/3;
                margin-inline: calc(var(--grid-gap) * -1);
                margin-bottom: 6rem;
            }


            &-wrapper {
                position: relative;
                margin-inline: 1.23rem .4rem;

                @include sm {
                    margin-inline: unset;
                }
            }

            &-bg {
            }

            &-flower {
                position: absolute;

                &.flower1 {
                    top: 8.746rem;
                    left: 2.048rem;
                    @include size(4rem);

                    @include sm {
                        @include size(1.3rem);
                        top: 3rem;
                        left: .9rem;
                    }
                }
                &.flower2 {
                    top: 2.675rem;
                    left: 5.13rem;
                    @include size(6.5rem);

                    @include sm {
                        @include size(2.1rem);
                        top: .3rem;
                        left: 1.7rem;
                    }
                }
                &.flower3 {
                    bottom: -.2rem;
                    right: -2.53rem;
                    @include size(15.3rem);

                    @include sm {
                        @include size(5.2rem);
                        bottom: -.2rem;
                        right: -0.53rem;
                    }
                }
            }

            &-main {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                @include size(100%);
                display: flex;
                justify-content: center;
                align-items: end;
                mask-image: url(../../assets/preamble-mask.png);
                mask-size: contain;
                mask-repeat: no-repeat;

                img {
                    @include size(43.6rem, 47rem);

                    @include sm {
                        @include size(14.5446rem, 15.6766rem);
                    }
                }
            }
        }
        &-mountain {
            position: relative;
            grid-column: 9/-1;

            margin-top: 15.6rem;
            margin-right: calc(var(--container-padding) * -1);


            @include sm {
                grid-column: 1/-1;
                margin-top: 5rem;
            }

            &-clone {
                position: absolute;
                left: -9rem;
                bottom: -5rem;
                width: 20rem;
            }
        }
    }

    &-transcloud {
        contain: paint;
        
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none;
        user-select: none;

        margin-block: -63rem -64.5rem;

        @include sm {
            margin-top: -33rem;
            margin-bottom: -27rem;
        }

        &-wrapper {
            display: flex;
        }

        &-cloud {
            margin-top: -26.6rem;
            margin-left: -40rem;
            width: 236rem;

            @include sm {
                width: 100rem;
                margin-top: unset;
                margin-left: unset;
            }
        }
    }

    &-mascot {
        height: calc(100svh + 17rem);

        background-color: $cl-magenta;

        @include sm {
            // height: 80svh;
            height: unset;
            padding-block: 20rem;
        }


        &-wrapper {
            height: 200svh;

            @include sm {
                height: auto;
            }
        }

        &-sticky {
            position: sticky;
            top: 0;
            height: 100svh;
            display: grid;
            padding-inline: 2rem;

            @include sm {
                position: relative;
                // top: -20svh;
                height: unset;
            }
        }

        &-event, &-list {
            grid-column: 1/-1;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2.5rem;

            @include sm  {
                flex-wrap: wrap;
                column-gap: .5rem;
                margin-inline: -1.2rem;
            }
        }

        &-event {
            &-inner {
                width: 100%;
                height: 100%;
            }
        }

        &-list {

        }
    
        &-item {
            filter: grayscale(.2) contrast(0.9) saturate(0.1) brightness(1.1);
            transition: filter .3s ease-out;
            will-change: filter;

            @include sm {
                // width: 11.5rem;
                width: 49%;
            }

            &.active {
                filter: unset;
            }
        }
    }

    &-info {
        position: relative;
        z-index: 2;

        margin-top: -19rem;
        contain: paint;
        pointer-events: none;



        &-mask {
            width: 100%;
            margin-block: 9rem -2px;
            
            filter: drop-shadow(0rem -1.1rem 4rem rgba(0, 0, 0, .5) );
        }
        .container {
            position: relative;
            z-index: 2;
            background-image: linear-gradient(to bottom, $cl-semi-white 50%, white 100%);
        }
        &-bg {
            position: relative;
            grid-column: 1/-1;
            grid-row: 1/2;
            z-index: 1;

            margin-inline: calc(var(--container-padding) * -1);
        }

        &-mascot {
            grid-column: 1/6;
            grid-row: 1/2;

            position: relative;
            z-index: 2;

            display: grid;
            height: fit-content;

            margin-left: calc(var(--container-padding) * -1);


            @include sm {
                grid-column: 1/-1;
            }

            * {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            &-flower {
                width: 50.01rem;
                margin-left: -0.2rem;
                margin-top: -12.8rem;
                height: fit-content;

                @include sm {
                    width: 21.835rem;
                    margin-top: -5.8rem;
                }
            }
            &-bg {
                width: 60.3rem;
                margin-top: -13rem;
                opacity: .14;

                @include sm {
                    width: 24.379rem;
                    margin-top: -4.1rem;
                }

                img {
                    &.lg {
                        @include sm {
                            display: none;
                        }
                    }
                    &.sm {
                        display: none;

                        @include sm {
                            display: block;
                        }
                    }
                }
            }
            &-main {
                width: 54rem;
                align-self: end;
                justify-self: end;
                margin-right: -5.8rem;
                margin-bottom: -8.5rem;

                @include sm {
                    width: 24.395rem;
                    margin-right: 5.205rem;
                    margin-bottom: -4.659rem;
                }
            }
        }

        &-content {
            grid-column: 6/-1;
            grid-row: 1/2;

            position: relative;
            z-index: 2;
            
            padding-left: 6.7rem;
            margin-block: 8.4rem 9.65rem;
            pointer-events: auto;

            @include sm {
                grid-column: 1/-1;
                grid-row: 2/3;

                padding-left: unset;
                margin-block: 12rem 1.5rem;
            }

            * {
                pointer-events: auto;
            }

            &-title {
                margin-bottom: 3.4rem;

                @include sm {
                    margin-bottom: 1.2rem;
                }
            }
            &-desc {}
        }
    }

    &-idea {
        // contain: paint;
        position: relative;
        padding-top: 3.3rem;

        z-index: 2;
        margin-top: -1px;

        background-image: linear-gradient(to bottom, white 80%, #FFE5EE 100%);
        contain: paint;

        @include sm {
            padding-top: 1.7rem;
        }


        &-content {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-bottom: 4.7rem;
        }

        &-label {
            position: relative;
            width: fit-content;
            margin-left: 3.94rem;
            
            padding: 2.7rem 1.885rem 2.764rem 2.552rem;
            background-image: url(../../assets/idea-label-box.svg);
            background-size: contain;
            background-repeat: no-repeat;

            @include sm {
                padding: 1.3rem 1.085rem 1.364rem 1.552rem;
                margin-left: unset;
            }

            &-flower {
                position: absolute;

                &.flower1 {
                    width: 3.98rem;
                    bottom: -2.436rem;
                    left: -0.339rem;

                    @include sm {
                        width: 1.74rem;
                        bottom: -0.436rem;
                        left: 0.339rem;
                    }
                }
                &.flower2 {
                    width: 2.3rem;
                    bottom: 1.303rem;
                    left: -1.33rem;

                    @include sm {
                        width: 1rem;
                        left: -0.33rem;
                    }
                }
            }

            .txt {
                @include sm {
                    @include text(15)
                }
            }
        }

        &-title {
            margin-bottom: 4.7rem;

            @include sm {
                @include text(20);
                margin-bottom: 1.2rem;
            }

            &-wrapper {
                margin-top: 1.3rem;
                margin-left: 7.5rem;

                @include sm {
                    margin-top: 1.62rem;
                    margin-left: .7rem;
                }
            }
        }

        &-desc {
            max-width: 78.6rem;
            font-size: 2.2rem;

            @include sm {
                @include text(21);
            }
        }

        &-main {
            position: relative;
            z-index: 2;
            grid-column: 1/-1;
            grid-row: 2/3;
            margin-inline: calc(var(--container-padding) * -1);
            display: grid;
            pointer-events: none;

            &-inner {
                grid-column: 1/2;
                grid-row: 1/2;

                @include sm {
                    grid-row: unset;
                    margin-bottom: 3rem;

                    &:last-child {
                        margin-bottom: unset;
                    }
                }

                img {
                    &.lg {
                        @include sm {
                            display: none;
                        }
                    }

                    &.sm {
                        display: none;

                        @include sm {
                            display: block;
                        }
                    }
                }
            }
        }
        
        &-display {
            grid-column: 1/-1;
            grid-row: 3/4;
            display: flex;
            justify-content: end;

            margin-block: -8rem 5rem;
            margin-right: -1rem;

            @include sm {
                margin-block: 7rem 3rem;
            }


            &-txt {
                display: grid;
                .txt {
                    grid-column: 1/2;
                    grid-row: 1/2;

                    @include sm {
                        @include text(56);
                    }

                    &.front {
                        position: static;
                        z-index: 2;
                        background: linear-gradient(180deg, #338DFF 30.5%, #FE2BC6 80.45%) text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @include sm {
                            background: linear-gradient(180deg, #338DFF 20.5%, #FE2BC6 100.45%) text;
                        }
                    }
                    &.back {
                        position: static;
                        z-index: 1;
                        color: $cl-white;
                        -webkit-text-stroke: 1.083rem $cl-white;
                        paint-order: stroke fill;

                        @include sm {
                            -webkit-text-stroke: 0.583rem $cl-white;
                        }
                    }
                }
            }
        }

        &-marquee {
            display: flex;
            justify-content: center;
            transform: rotate(-28.25deg);
            opacity: .06;

            transition: all .7s ease;
            will-change: transform;


            @include sm {
                transform: translateY(-20rem) rotate(-28.25deg);
            }

            &.active {
                opacity: 1;
            }

            &.blur {
                opacity: .5;
                filter: blur(1rem);
            }

            &:nth-child(2) {
                .home-idea-marquee-inner {
                    flex-direction: row-reverse;
                }
            }

            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/4;
                
                position: relative;
                margin-inline: calc(var(--container-padding) * -1);
                display: flex;
                z-index: 1;
            }

            &-sticky {
                position: sticky;
                height: 100svh;
                top: calc(0rem);

                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 5rem;

                mask-image: linear-gradient(to bottom, transparent 0%, white 10%, white 90%, transparent 100%);
            }

            &-inner {
                display: flex;
                flex-shrink: 0;
                will-change: transform;
            }

            &-item {
                flex-shrink: 0;
                height: 20rem;

                margin-right: 4.2rem;

                @include sm {
                    height: 14rem;
                }
            }
        }
    }

    &-option {
        position: relative;
        contain: paint;
        background-image: radial-gradient(50% 50% at 50% 50%, #FF2C85 66.5%, #C41886 100%);


        &-bg {
            --bg-move: 0rem;
            position: absolute;
            z-index: 0;

            @include size(100%);

            background-image: url(../../assets/option-bg.svg);
            background-size: cover;
            background-position: var(--bg-move) var(--bg-move);
            will-change: background-position;

            @include sm {
                background-size: 40rem;
            }
        }


        &-main {
            background-image: linear-gradient(180deg, #FFFCED, #FFF);
            flex-grow: 1; 

            display: flex;
            flex-direction: column;

            &-wrapper {
                position: relative;
                z-index: 1;
                padding-inline: 9rem;
                padding-block: 9rem 7.1rem;

                @include size(100%);

                filter: drop-shadow(0px 0.8334rem 0.8334rem rgba(0, 0, 0, 0.25));


                @include sm {
                    padding-block: 3.9rem 2.32rem;
                    padding-inline: 2.2rem;
                }
            }

            &-papper {
                flex-shrink: 0;

                &.top {
                    margin-bottom: -2px;
                }

                &.bottom {
                    margin-top: -1px;
                }
            }

            &-title {
                margin-top: 5.5rem;
                margin-left: 4.3rem;

                @include sm {
                    @include text(h2);
                    max-width: 24.8rem;
                    margin-top: 2rem;
                    margin-left: 1.4rem;
                }
            }

            &-inner { 
                margin-inline: 1.7rem 3.502rem;
                margin-block: -2rem -1rem;
                z-index: 2;
                mix-blend-mode: darken;

                @include sm {
                    margin-inline: unset;
                    margin-block: -7rem 0rem;
                }

                img {
                    &.lg {
                        @include sm {
                            display: none;
                        }
                    }
                    &.sm {
                        display: none;

                        @include sm {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &-pose {
        position: relative;
        padding-block: 15.3rem 4.3rem;

        contain: paint;

        @include sm {
            padding-top: 3.4rem;
        }

        &-title {
            grid-column: 8/-1;

            margin-left: -2.4rem;
            margin-bottom: 2rem;

            @include sm {
                grid-column: 1/-1;
                @include text(h2);
                text-align: end;
                margin-bottom: .6rem;
            }
        }

        &-main {
            grid-column: 1/-1;
            margin-right: -.7rem;

            @include sm {
                margin-inline: -2.2rem -2rem;
            }
        }

        &-tail {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding-bottom: 4.3rem;

            @include sm {
                padding-block: 1rem 6rem;
            }
        }
    }

    &-anatomy {
        position: relative;
        padding-block: 8.5rem 2.753rem;
        background: linear-gradient(184deg, #FFF 48.38%, #FAD2EC 96.72%);

        contain: paint;

        @include sm {
            background: linear-gradient(184deg, #fff 21.38%, #fad2ec 100%);
            margin-bottom: -2px;
            padding-bottom: 14rem;
        }

        &-title {
            grid-column:  2/-1;
            position: relative;
            margin-left: -3.5rem;

            @include sm {
                grid-column: 1/-1;
                margin-left: 1.1rem;
            }

            .h1 {
                position: relative;
                z-index: 2;

                @include sm {
                    @include text(h2);
                }
            }

            &-fade {
                z-index: 1;
                position: absolute;
                top: -6rem;
                left: -4.3rem;
                opacity: .4;

                @include sm {
                    @include text(68);
                    top: -2rem;
                    left: -2.8rem;                    
                }
            }
        }

        &-main {
            position: relative;
            grid-column: 2/12;

            margin-top: 3rem;

            @include sm {
                grid-column: 1/-1;
                margin-inline: calc(var(--container-padding) * -1);
            }
        }
 
        &-mascot {
            @include size(39.2rem, 55.217rem);
            margin-left: 33.5rem;

            @include sm {
                @include size(17.065rem, auto);
                margin-left: 10.155rem;
            }
        }

        &-item {
            position: absolute;
            height: fit-content;

            img {
                &.lg {
                    @include sm {
                        display: none;
                    }
                }
                &.sm {
                    display: none;
                    
                    @include sm {
                        display: block;
                    }
                }
            }

            &.item {
                &-1 {
                    width: 38.497rem;
                    bottom: -0.53rem;
                    left: -0.7rem;

                    @include sm {
                        width: 14.7rem;
                        top: 9.075rem;
                        left: -1.516rem;
                    }
                }
                &-2 {
                    width: 18.9rem;
                    bottom: 12.217rem;
                    left: 10rem;

                    @include sm {
                        width: 7.368rem;
                        top: 15.67rem;
                        left: 2.714rem;
                    }
                }
                &-3 {
                    width: 24.4rem;
                    bottom: 25.317rem;
                    right: 3.4rem;

                    @include sm {
                        width: 8.9rem;
                        bottom: 8.7rem;
                        right: .8rem;
                    }
                }
                &-4 {
                    width: 22.2rem;
                    bottom: 9.217rem;
                    right: 5rem;

                    @include sm {
                        width: 8.537rem;
                        right: 1.032rem;
                        bottom: 2.704rem;
                    }
                }
            }
        }

        &-pattern {
            position: absolute;
            top: -11rem;
            left: 19rem;
            z-index: -1;
            opacity: .05;
            width: 68.577rem;

            @include sm {
                width: 26.371rem;
                top: 0;
                left: 5.628rem;
            }
        }

        &-flower {
            position: absolute;

            &.flower1 {
                width: 45.3rem;
                top: 0rem;
                right: -4.6rem;

                img {
                    transform: scaleX(-1);
                }

                @include sm {
                    width: 13.9rem;
                    right: -1.6rem;
                }
                
            }

            &.flower2 {
                width: 30.6rem;
                bottom: 0;
                left: 0;

                @include sm {
                    width: 17rem;
                }
            }
        }
    }

    &-sticker {
        position: relative;
        z-index: 2;
        margin-top: -1px;
        background: linear-gradient(171deg, #fad2ec 0%, #ecf9ff 64.5%, transparent 80%);

        padding-top: 17.2rem;
        margin-bottom: -32.2rem;


        contain: paint;

        @include sm {
            padding-top: 20.2rem;
            margin-bottom: -3rem;

            background: linear-gradient(171deg, #fad2ec 29%, #ecf9ff 78.5%, #0000 79%);
        }

        &-title {
            grid-column: 1/-1;
            grid-row: 1/2;
            font-size: 10.669rem;

            padding-left: 7.1rem;
            margin-bottom: 6.3rem;


            @include sm {
                @include text(h2);
                grid-column: 1/-1;

                text-align: center;
                max-width: 10rem;
                height: fit-content;

                align-self: center;
                padding-left: unset;
                margin-left: 1.5rem;
                margin-bottom: unset;

                .txt-2d {
                    @include text(51);
                }
            }
        }
        &-papper {
            position: relative;
            z-index: 2;

            grid-column: 1/9;
            grid-row: 2/3;
            padding-right: 6.176rem;
            filter: drop-shadow(0px 0.469rem 0.469rem rgba(0, 0, 0, 0.25));


            @include sm {
                grid-column: 1/-1;
                padding-right: unset;
                margin-inline: -1.5rem;
                margin-top: -4rem;
                z-index: 10;
            }

            &-main {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                height: fit-content;
                padding-top: 2.3rem;
                padding-inline: 2.7rem 2.16rem;

                background-color: #FFFDF4;
                margin-top: -1px;

                &-item {
                    height: 24.5rem;

                    @include sm {
                        height: 9.5rem;
                    }

                    &.item  {
                        &-4, &-5 {
                            height: 23.8rem;
                            margin-top: -2.7rem;

                            @include sm {
                                height: 10.8rem;

                                margin-top: -1.2rem;
                            }
                        }
                    }
                }
            }

            &-bottom {
                margin-top: -1px;
            }
        }

        &-circle {
            position: relative;
            z-index: 1;

            grid-column: 7/-1;
            grid-row: 2/3;

            margin-top: -8rem;
            margin-inline: -3.2rem calc(var(--container-padding) * -1);

            @include sm {
                grid-column: 3/5;
                grid-row: 1/2;
                margin-inline: -2.7rem -2.15rem;
                margin-top: unset;
                align-self: center;

            }
        }

        &-mascot {
            position: relative;
            z-index: 3;

            grid-column: 7/-1;
            grid-row: 2/3;

            margin-top: -13.4rem;
            margin-inline: calc(var(--grid-gap) * -1) calc(var(--container-padding) * -1);

            @include sm {
                grid-column: 3/5;
                grid-row: 1/2;

                align-self: center;
                margin-top: unset;
                margin-inline: -2.7rem -2.15rem;
                // margin-top: -15rem;

            }
        }

        &-cloud {
            &.cloud-1 {
                position: absolute;
                top: 4rem;
                right: -7.279rem;

                width: 40.48rem;
                z-index: 10;
                will-change: transform, filter;

                img {
                    filter: drop-shadow(0px -0.3204rem 3.1509rem rgba(255, 255, 255, 0.77));
                }

                @include sm {
                    width: 31.019rem;
                    top: 3rem;
                    right: -1rem;
                }
            }

            &-wrapper {
                position: relative;
                z-index: 10;

                @include size(0px);

                &.middle {
                    grid-column: 1/-1;
                    grid-row: 3/4;
                }
                &.bottom {
                    grid-column: 1/-1;
                    grid-row: 5/6;

                    justify-self: end;
                }
            }
            &.cloud-2 {
                width: 37.779rem;
                margin-top: -15rem;
                margin-left: calc(-1 * var(--container-padding) - 9.2rem);

                filter: blur(.5rem);
                will-change: transform;

                img {
                    filter: drop-shadow(0px -0.2991rem 2.9407rem rgba(255, 255, 255, 0.77));
                }

                @include sm {
                    grid-column: 1/-1;

                    @include sm {
                        width: 22.563rem;
                        margin-top: 1rem;
                    }
                }
            }
            &.cloud-3 {
                width: 60.386rem;
                margin-top: -16rem;
                margin-left: -35.4rem;

                will-change: transform;

                @include sm {
                    display: none;
                }
                
                img {
                    filter: drop-shadow(0px 0px 9.5302rem #FFF) drop-shadow(0px -.478rem 4.7004rem rgba(255, 229, 238, 0.63));
                }

            }
        }

        &-showcase {
            grid-column: 1/-1;
            grid-row: 4/5;

            position: relative;
            
            margin-top: -5.6rem;
            margin-inline: -5.4rem -5.6rem;

            @include sm {
                margin-top: 17rem;
                margin-inline: calc(var(--container-padding) * -1);
            }

            &-main {
                width: 64.9rem;

                margin-left: 42.7rem;
                margin-top: 21.2rem;

                @include sm {
                    width: 16.6rem;
                    margin-top: 5.414rem;
                    margin-left: 11.905rem;
                }
            }


            &-item {
                position: absolute;
                filter: grayscale(.9) saturate(0.3) contrast(1.2);


                &.item {
                    &-1 {
                        width: 36rem;
                        left: 11rem;
                        bottom: 10rem;

                        @include sm {
                            width: 9.2rem;
                            left: 3.809rem;
                            bottom: 2.554rem;
                        }
                    }
                    &-2 {
                        width: 28.373rem;
                        top: 15.7rem;
                        left: 0;

                        @include sm {
                            width: 7.2rem;
                            top: 4rem;
                            left: 1rem;
                        }
                    }
                    &-3 {
                        width: 30.5rem;
                        top: 2.2rem;
                        left: 25.9rem;

                        @include sm {
                            width: 7.8rem;
                            top: 0.562rem;
                            left: 6.615rem;
                        }
                    }
                    &-4 {
                        width: 28.8rem;
                        top: 0;
                        left: 60.2rem;

                        @include sm {
                            width: 7.4rem;
                            left: 15.375rem;
                        }
                    }
                    &-5 {
                        width: 42.5rem;
                        top: 6.9rem;
                        right: 2.8rem;

                        @include sm {
                            width: 10.9rem;
                            top: 1.762rem;
                            right: 1.715rem;
                        }
                    }
                    &-6 {
                        width: 34.7rem;
                        right: 0;
                        bottom: 12.6rem;

                        @include sm {
                            width: 8.9rem;
                            bottom: 3.218rem;
                            right: 1rem;
                        }
                    }
                }
            }
        }

        &-mask {
            grid-column: 1/-1;
            grid-row: 5/6;
            margin-block: -31.4rem 20rem;
            margin-inline: calc(var(--container-padding) * -1);

            @include sm {
                margin-top: -11rem;
                margin-bottom: unset;
            }

            &-bot {
                --bg-move: 0rem;
                background-image: url(../../assets/sticker-showcase-mask-bot-bot.svg);
                background-size: cover;
                background-position: var(--bg-move);

                img {
                    opacity: 0;
                }
            }

            &-space {
                @include sm {
                    height: 8rem;
                    background-color: $cl-white;
                }
            }
        }
    }

    &-version3d {
        position: relative;
        background-image: url(../../assets/vertion-bg.jpg);
        background-size: contain;
        
        contain: paint;
        
        z-index: 1;

        @include sm {
            background-position-x: -38.5rem;
            background-size: 223%;
        }

        &-title {
            width: fit-content;

            margin-left: 13.5rem;
            transform: skewX(-14deg) skewY(-17deg);

            @include sm {
                margin-left: 2rem;
            }

            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/2;

                margin-block: 22rem 47rem;


                @include sm {
                    margin-block: 5rem 54rem;
                }
            }

            &-display {
                font-size: 26rem;
                line-height: 1em;

                filter: drop-shadow(2.5rem 2rem $cl-pink);

                margin-bottom: 8.2rem;

                @include sm {
                    font-size: 10rem;

                    margin-bottom: 2rem;

                    filter: drop-shadow(0.9rem .8rem $cl-pink);
                }
            }

            &-txt {
                font-size: 9rem;
                line-height: 1em;
                letter-spacing: 0em;

                @include sm {
                    font-size: 3.3rem;
                }
            }
        }

        &-mascot {
            position: relative;
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-inline: calc(var(--container-padding) * -1);


            &-canvas {
                position: absolute;
                top: 0;
                left: 0;
                @include size(100%);
            }


            img {
                &.lg {
                    @include sm {
                        display: none;
                    }
                }
                &.sm {
                    display: none;

                    @include sm {
                        display: block;
                        margin-top: 12rem;
                    }
                }
            }
        }
    }

    &-sticker3d {
        position: relative;
        z-index: 2;
        background: linear-gradient(183deg, transparent 10%, #FFFAE3 10.06%, #FFE5EE 92.14%);

        margin-top: -13rem;

        contain: paint;

        @include sm {
            background: linear-gradient(to bottom, transparent 3.8rem, #FFFAE3 3.8rem, #FFE5EE 92.14%);
        }

        .container {
            position: relative;
        }

        &-mask {
            --bg-move: 0rem;
            width: 100%;
            background-image: url(../../assets/sticker3d-mask-top.svg);
            background-size: cover;
            background-repeat: repeat;
            background-position: var(--bg-move);

            img {
                opacity: 0;
            }
        }

        &-circle {
            grid-column: 2/12;
            grid-row: 1/2;

            margin-block: 2.5rem 20rem;
            padding-inline: 1.6rem;

            @include sm {
                grid-column: 1/-1;
                grid-row: 2/3;
                margin-top: 17rem;
                margin-inline: -29rem;
            }
        }

        &-grid {
            position: absolute;
            grid-column: 1/-1;
            grid-row: 1/2;

            display: grid;
            // height: fit-content;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: .5rem;

            padding-top: 7rem;
            padding-inline: 5.2rem;

            @include size(100%);

            @include sm {
                grid-column: 1/-1;
                grid-row: 2/3;

                position: relative;

                @include size(unset);

                padding-top: unset;
                padding-inline: unset;
                margin-inline: -1.8rem;

                gap: 0.302rem .5rem;
                grid-template-columns: repeat(2, 1fr);
            }

            &.isDesktop {
                display: flex;
                mask-image: linear-gradient(to bottom, transparent 0% ,white 5%);
                padding-top: unset;
                margin-top: -3rem;
                height: calc(100% + 4rem);
            }

            &-inner {
                display: flex;
                flex-direction: column;
                row-gap: .5rem;

                &:nth-child(odd) {
                    align-self: end;
                }
                &:nth-child(even) {
                    align-self: start;
                }
            }

            &-item {

                @include sm {
                    width: 100%;
                }
            }
        }

        &-mascot {
            display: none;

            @include sm {
                display: block;
                grid-column: 2/4;
                margin-inline: -1.8rem;
            }
        }

        &-display {
            display: none;

            @include sm {
                display: block;
                grid-column: 1/-1;
                grid-row: 1/2;

                margin-block: 6rem 3rem;
                text-align: center;
            }


            &-txt {
                display: grid;

                .txt {
                    grid-column: 1/2;
                    grid-row: 1/2;

                    @include sm {
                        @include text(56);
                    }

                    &.front {
                        position: static;
                        z-index: 2;
                        background: linear-gradient(180deg, #338DFF 30.5%, #FE2BC6 80.45%) text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;

                        @include sm {
                            background: linear-gradient(180deg, #338DFF 20.5%, #FE2BC6 100.45%) text;
                        }
                    }
                    &.back {
                        position: static;
                        z-index: 1;
                        color: $cl-white;
                        -webkit-text-stroke: 1.083rem $cl-white;
                        paint-order: stroke fill;

                        @include sm {
                            -webkit-text-stroke: 0.583rem $cl-white;
                        }
                    }
                }
            }
        }
    }

    &-showcase {
        position: relative;
        z-index: 2;
        padding-bottom:8.3rem;

        contain: paint;
        margin-top: -12.3rem;

        @include sm {
            margin-top: -3.2rem;
        }

        &-mask {
            --bg-move: 0rem;
            width: 100%;
            background-image: url(../../assets/showcase-mask-top.svg);
            background-size: cover;
            background-repeat: repeat;
            background-position: var(--bg-move);
            margin-bottom: 5rem;

            img {
                opacity: 0;
            }
        }

        .container {
            padding-bottom: 10rem;

            @include sm {
                padding-bottom: 16rem;
            }
        }

        &-main {
            position: relative;
            z-index: 3;

            grid-column: 3/11;
            grid-row: 1/2;

            margin-inline: calc(var(--grid-gap) * -1);
            padding: var(--grid-gap);

            background-image: linear-gradient($cl-pink 0%, #FF9BE5 100%);
            border-radius: calc(4.3rem + var(--grid-gap));


            @include sm {
                grid-column: 1/-1;

                padding: 1.2rem;

                margin-top: 3rem;
                margin-inline: unset;
            }
        }

        &-video {
            border-radius: 4.3rem;
            overflow: hidden;
            filter: brightness(1.1) saturate(1.2) contrast(1.05);

            video {
                width: 100%;
            }
        }

        &-flower {
            position: relative;
            z-index: 2;

            grid-column: 1/-1;
            grid-row: 1/2;

            height: fit-content;

            &.flower1 {
                width: 27.1rem;
                margin-left: -2.8rem;

                @include sm {
                    width: 17.4rem;
                    margin-left: unset;
                    justify-self: end;

                    margin-top: -4rem;
                    margin-right: -5rem;
                }
            }

            &.flower2 {
                width: 41.3rem;
                margin-right: -14.4rem;
                margin-bottom: 4.88rem;

                align-self: end;
                justify-self: end;

                @include sm {
                    width: 23.3rem;
                    justify-self: start;

                    margin-left: -12rem;
                    margin-bottom: -8rem;

                }

                img {
                    transform: scaleX(-1);
                }
            }

            &.flower {
                &-sm {
                    align-self: end;
                    justify-self: end;
                    z-index: 3;


                    &-1 {
                        width: 9.5rem;
                        margin-right: 16.6rem;
                        margin-bottom: -2.87rem;

                        @include sm {
                            width: 4rem;

                            margin-right: -1rem;
                        }
                    }
                    &-2 {
                        width: 5.1rem;
                        margin-right: 27.73rem;
                        margin-bottom: -1.1rem;

                        @include sm {
                            width: 2.7rem;
                            margin-right: 4rem;
                            margin-bottom: -1.9rem;
                        }
                    }
                    &-3 {
                        width: 3.5rem;
                        margin-right: 34.84rem;
                        margin-bottom: -2.4rem;

                        @include sm {
                            width: 1.7rem;
                            margin-right: 8rem;
                            margin-bottom: -2.6rem;
                        }
                    }
                }
            }
        }

        &-cloud {
            position: relative;
            z-index: 1;

            grid-column: 1/-1;
            grid-row: 1/2;

            height: fit-content;

            &.cloud-1 {
                align-self: end;
                width: 91.5rem;

                margin-bottom: -3rem;
                margin-left: -34rem;

                filter: drop-shadow(0px 0.7243rem 7.1223rem rgba(255, 255, 255, 0.77));

                @include sm {
                    width: 40rem;
                    align-self: unset;
                    margin-block: -5rem 0;
                    margin-inline: -8rem -8rem;
                }
            }

            &.cloud-2 {
                width: 91.5rem;
                justify-self: end;

                margin-top: -2.6rem;
                margin-right: -20.9rem;

                filter: drop-shadow(0px 0.7243rem 7.1223rem rgba(255, 255, 255, 0.77));

                @include sm {
                    width: 33rem;

                    align-self: end;

                    margin-top: unset;
                    margin-right: -16rem;
                    margin-bottom: -30rem;
                }

                img {
                    transform: scaleX(-1);
                }
            }
        }
    }

    &-adap {
        contain: paint;

        @include sm {
            position: relative;
            z-index: 2;
        }

        &-title {

            @include sm {
                @include text(38);
            }
            
            &-wrapper {            
                grid-column: 1/-1;
                grid-row: 1/2;


                background-color: $cl-magenta;

                color: $cl-white;
                margin-inline: calc(var(--container-padding) * -1);
                text-align: center;
                padding-block: 8rem;

                position: relative;
                z-index: 4;

                @include sm  {
                    padding-block: 3rem;
                }
            }
        }

        &-cup {
            &-wrapper {
                position: relative;
                grid-column: 1/-1;
                grid-row: 2/3;

                margin-inline: calc(var(--container-padding) * -1);

                z-index: 3;
                contain: paint;
            }

            &-txt {
                position: absolute;
                bottom: 3.6rem;
                left: 3.365rem;

                padding: 4.8rem 5.784rem 2.2rem 11.7rem;
                background-image: url(../../assets/adap-cup-txt.png);
                background-size: cover;

                font-size: 4.636rem;
                line-height: 1.2em;
                letter-spacing: 0.01em;
                color: $cl-pink;

                @include sm {
                    @include text(20);
                    left: 0.5rem;
                    bottom: 0.875rem;
                    width: fit-content;

                    padding: 2.8rem 3.784rem 1.2rem 6.4rem;
                }
            }
        }

        &-bag {
            margin-left: 49.8rem;
            contain: paint;

            @include sm {
                margin-left: unset;
            }
            
            &-wrapper {
                grid-column: 1/-1;
                grid-row: 3/4;
                position: relative;
                z-index: 1;

                margin-inline: calc(var(--container-padding) * -1);

                
                @include sm {
                    z-index: 3;
                }
            }

            &-txt {
                position: absolute;
                bottom: 2.022rem;
                right: 3.639rem;

                padding: 7.948rem 17.37rem 5.207rem 1.791rem;
                background-image: url(../../assets/adap-bag-txt.png);
                background-size: cover;

                font-size: 4.636rem;
                line-height: 1.2em;
                letter-spacing: 0.01em;
                color: $cl-pink;

                @include sm {
                    width: fit-content;
                    @include text(20);

                    bottom: 0.816rem;
                    right: 1.027rem;

                    padding: 4.2rem 8.784rem 2rem 1.4rem;
                }
            }
        }

        &-lanyard {
            grid-column: 1/-1;
            grid-row: 1/2;

            height: fit-content;
            
            &-wrapper {
                position: relative;
                z-index: 2;
                grid-column: 1/-1;
                grid-row: 3/4;

                display: grid;
                margin-inline: calc(var(--container-padding) * -1);

                @include sm {
                    grid-row: 5/6;
                }
            }

            &.lanyard-1 {
                width: 65.327rem;
                margin-top: -3rem;
                margin-left: -0rem;

                @include sm {
                    width: 27.503rem;
                }
            }
            &.lanyard-2 {
                width: 51.77rem;
                margin-left: 15.23rem;

                @include sm {
                    width: 20.937rem;
                }
            }
        }
    }

    &-poster {
        position: relative;
        padding-top: 41.029rem;

        margin-top: -21.394rem;
        contain: paint;

        @include sm {
            margin-top: -44rem;
        }


        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, transparent 0%, #FFEEF2 98%);

            @include size(100%, 20rem);

        }
        .container {
            position: relative;
        }

        &-flower {
            position: absolute;
            z-index: 3;


            &.flower-1 {
                width: 62rem;
                top: 0rem;
                left: -9.9rem;

                @include sm {
                    width: 19.096rem;
                    left: -1.5rem;
                }
            }

            &.flower-2 {
                width: 44.2rem;
                top: calc(-3.135rem + 21.394rem);
                right: -8.9rem;

                @include sm {
                    width: 35.925rem;
                    top: 5rem;
                }

                img {
                    transform: scaleX(-1);
                }
            }
        }
        &-mask {
            --bg-move: 0rem;
            position: absolute;
            top: -1px;
            left: 0;

            z-index: 2;
            width: 100%;


            background-image: url(../../assets/poster-mask.svg);
            background-size: cover;
            background-repeat: repeat;
            background-position: var(--bg-move);

            img {
                opacity: 0;
            }
        }

        &-main {
            position: relative;
            display: flex;
            justify-content: center;
            margin-inline: calc(var(--container-padding) * -1);

            background: linear-gradient(180deg, #FFF 0%, $cl-pink 100%);

            @include sm {
                flex-direction: column;
            }
        }
        &-sm {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include size(38rem, 100%);

            overflow: hidden;

            @include sm {
                position: unset;

            }

            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }

        &-center {
            width: 65.6rem;
            flex-shrink: 0;

            @include sm {
                width: unset;
            }
        }
    }

    &-foot {
        position: relative;
        height: 120svh;
        background: linear-gradient(175deg, #FFEEF2 20.37%, #FDFDFD 48.99%, #FFF 60.61%, #D5D5F9 87.09%);
        
        margin-top: -2px;
        contain: paint;

        @include sm {
            height: 100svh;
        }

        .container {
            height: 100%;
        }
        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;


            &-wrapper {
                grid-column: 1/-1;
                grid-row: 1/2;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;

                @include sm {
                    margin-inline: calc(var(--container-padding)* -1);
                }
            }

            * {
                position: relative;
                z-index: 2;
            }
        }

        &-title {
            @include sm {
                @include text(82);
                margin-block: -1rem
            }
        }

        &-label {
            @include sm {
                @include text(15);
            }
        }

        &-logo {
            position: absolute;
            z-index: 1;

            width: 48.2rem;
            margin-top: -7rem;
            opacity: .16;

            @include sm {
                width: 16.599rem;
                margin-top: -3.1rem;
            }
        }

        &-mountain {
            grid-column: 1/-1;
            grid-row: 1/2;

            align-self: end;

            margin-left: calc(var(--container-padding) * -1 - 1.677rem);
            width: 50rem;

            @include sm {
                width: 18.947rem;
            }
        }

        &-cloud {
            position: absolute;


            &.cloud-1 {
                width: 180rem;

                bottom: -49rem;
                align-self: end;
                height: fit-content;

                @include sm {
                    bottom: -46rem;
                }
            }

            &.cloud-2 {
                bottom: 10.815rem;
                right: -5.7rem;

                width: 28.8rem;
                filter: drop-shadow(0px 0px 4.5447rem #FFF) blur(.25rem);

                @include sm {
                    width: 15rem;
                    right: -3.5rem;
                }
            }
        }
    }
}

